@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing;
      box-sizing: border-box;
}
html{
	height: 100%;
	min-height: 100%;
	margin:0;
	padding:0;
}
body{
	height: 100%;
	min-height: 100%;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-align: center;
/*	width: 960px;
*/	margin: 0 auto;
	padding:0;
	background-color: #03032e;
	background-image: url('../images/sketch1.png');
	background-repeat: no-repeat;
	background-position: center top;

}

header {
	padding:10px 10px 50px;
	min-height: 100%;
}

section {
	padding:100px 15% 100px 30%;
	text-align: left;
	margin:0;
	min-height: 90%;
}

h1{
	font-size: 15em;
	font-family: AsterismCleanBold-Regular; 
	font-weight: normal; 
	font-style: normal; 
	line-height: .18em;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-5deg);
	margin-right:.8em;
	margin-bottom:.3em;	
}

h3{
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 900;
	display:inline;
}

.light-scheme{
	color:black;
}

.dark-scheme{
	color:white;
}

h2{ 
	font-size: 5em;
	text-transform: uppercase;
	line-height: .9em;
	margin-top: .5em;
	font-kerning: normal
}

#to{
	font-size: .5em;
	display:inline;
}

#consumer{
	margin-left:.6em;
}


nav { margin: 5px 5px;

}
nav a{
	padding-bottom: 5px;
	color: white;
	display:inline-block;
	font-size: 1em;
	border-bottom: 2px solid transparent;
	margin:0 60px;
}
a{
	text-decoration: none;
	color:#ff0048;
}
a:hover{

	border-bottom: 1px dotted #ff0048;
}

p{
	font-size: 1em;
	font-family: 'Noto Serif', serif;
	line-height: 1.7em;
}

figcaption{
	font-size: .3em;
	color:#796E6F;
	margin-bottom: 2em;
}

button.small{
	background-color: white;
	font-size: 10px;
	font-weight: 900;
	color:#03032e;
	outline: none;
	border: none;
	border-radius: 10px;
	padding:5px 10px;
}
button.small:hover{
	background-color: #ff0048;
	color:white;
	cursor:pointer;
}
.fa-check{
	color:green;
	margin-left:5px;
	visibility: hidden;
}
.fa{
	margin-right: 1em;
	margin-bottom: 1em;
}
/* #fashionis-animation{
	border-right: .1em solid black;
	width: calc(0.55em * 10); 
	width: 10ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(10),
	           blink-caret 1s step-end infinite alternate;
}*/
.subsection{
	margin-top:8em;
}

.line-top{
	border-right:1px solid white;
	height: 150%;
	margin-top: 12em;
	position: absolute;
	left: 19%;
	width:40px;
}
.line{
	border-right:1px solid white;
	height: 150%;
	padding-top: 120px;
	position: absolute;
	left: 19%;
	width:40px;
}
.circle-large{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	left: 20px
}
.top{
	position: relative;
}
.large{

}
.circle-small{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: white;
	left: 30px;
}
.second{
	position: relative;
	top: 10em;
}

@media only screen and (max-width: 1282px){
	.second{
		top: 15em;
	}
}

#intro{
	width: 380px;
	text-align: left;
	margin-left: 50%;
	font-family: 'Noto Serif', serif;
}

#fashionis-section{
	background-color: #e8e6d9;
	color:black;
}

#fashionis-input{
	font-family: 'Shadows Into Light', cursive;
	background-color: #e8e6d9;
	font-size: 3em;
	color:black;
	font-weight: 900;
	display:inline;
	border:none;
	border-bottom:1px solid black;
	margin:0 20px;
	outline:none;
	text-transform: capitalize;
	line-height: .7em;
	height:1.4em;
	width: 200px;
}
#thebreakdown{
	background-color: black;
	background-image: url("../images/breakdown.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
#production{
	background-color: #c0a59c;
	background-image: url("../images/production.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;	
}

